li {
	text-align:center;
	background:rgb(255, 255, 255);
}
body{
	font-size: 2em;
	margin:center;
	text-align:center;
	background-color:rgb(255, 203, 161);
}
table{
	margin-left: 750px;
	margin-top:250px;
	border: solid;
	background:rgb(255, 255 ,255);
}
#Valider{
	margin-left: 140px;
	text-align:right;
}
header{
	background-color:green;
}

